<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>

    <header class="container">
        <p>review</p>
        <nav>
            <ul>
                <li class="nav-link"><a href="">How it works</a></li>
                <li class="nav-link"><a href="">Pricing</a></li>
                <li class="nav-link"><a href="">Support</a></li>
                <li id="login"><a href="">Log In</a></li>
                <li id="signup"><a href="">Sign Up</a></li>
            </ul>
        </nav>
    </header>