<%- include('partials/header') %>

    <div id="intro" class="container">
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum nisi modi repellendus commodi possimus molestiae maxime doloremque? Non ex aut minus eveniet esse dolorum, reprehenderit explicabo!</p>
    </div>

    <div id="about" class="container">
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia amet mollitia, pariatur voluptatem qui numquam maiores facilis eveniet veritatis repudiandae officia ab inventore nemo ipsam officiis ad repellendus voluptate et, modi, aut quidem vitae beatae. Esse natus rerum possimus harum similique est soluta voluptates sunt, quidem quasi? Voluptates, blanditiis quam.</p><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, eum rerum ullam quidem illum itaque velit beatae, expedita iusto aliquid aut mollitia, explicabo nisi tenetur commodi? Ratione expedita temporibus quo delectus nulla voluptas cupiditate tempore asperiores libero a ullam, officiis quaerat error. Ipsum cumque saepe dolores ad provident, delectus doloremque.</p>
    </div>

    <div id="rate-service" class="container">
        <div>
            <img src="/img/woman-sitting.jpg" alt="">
        </div>
        <div>
            <h1>Allow your customers to rate your services.</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum aut sed non quod optio incidunt officia! Porro repellat atque laboriosam!</p>
            <a href="">Create Profile</a>
        </div>
    </div>

    <h1 class="section-title">Testimonials</h1>

    <div id="testimonials" class="container">
        
        <div class="testimonial">
            <div class="img">
                <img src="/img/photo-1.jpg" alt="">
            </div>
            <p class="name">Jina Lake</p>
            <p class="review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolor animi sint laudantium, voluptatibus, dicta, perspiciatis officia qui ex tenetur numquam officiis eos quos deserunt!</p>
            <div class="rating">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
            </div>
        </div>
        <div class="testimonial">
            <div class="img">
                <img src="/img/photo-2.jpg" alt="">
            </div>
            <p class="name">Yule Mwingine</p>
            <p class="review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolor animi sint laudantium, voluptatibus, dicta, perspiciatis officia qui ex tenetur numquam officiis eos quos deserunt!</p>
            <div class="rating">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
            </div>
        </div>
        <div class="testimonial">
            <div class="img">
                <img src="/img/photo-3.jpg" alt="">
            </div>
            <p class="name">Mpita Njia</p>
            <p class="review">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores dolor animi sint laudantium, voluptatibus, dicta, perspiciatis officia qui ex tenetur numquam officiis eos quos deserunt!</p>
            <div class="rating">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
                <img src="/assets/star-fill.svg" alt="">
            </div>
        </div>
    </div>

<%- include('partials/footer') %>